<p id="notice"><%= notice %></p>

<h1>Popis Lokacija</h1>

<table class="table table-bordered table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th>Grad</th>
      <th>Država</th>
      <th>Adresa</th>
      <th>Poštanski broj</th>
      <th>Naziv prostora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lokacijas.each do |lokacija| %>
      <tr>
        <td><%= lokacija.grad %></td>
        <td><%= lokacija.drzava %></td>
        <td><%= lokacija.adresa %></td>
        <td><%= lokacija.post_br %></td>
        <td><%= lokacija.naziv_prostora %></td>
        <td><%= link_to 'Detalji', lokacija %></td>
        <td><%= link_to 'Izmjena', edit_lokacija_path(lokacija) %></td>
        <td><%= link_to 'Brisanje', lokacija, method: :delete, data: { confirm: 'Jeste li sigurni?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova lokacija', new_lokacija_path, class: 'btn btn-dark' %>
